{% extends "global/base.html" %} {% comment %} heranca {% endcomment %}

{% comment %} {% block text %}Change text{% endblock text %}  {% endcomment %}

{% block text %}
  {{ context }}
{% endblock text %}

{% block home %}
  <h1>HOME</h1>
{% endblock home %}

{% comment %} <!DOCTYPE html>


<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>HOME</h1>
  </body>
</html>
{% endcomment %}
