{% extends "global/base.html" %}

{% block text %}{{context}}{% endblock text %}

{% block posts %}

    {% for post in posts %}
        {% include "global/partials/post_block.html" %}
    {% endfor %}

{% comment %}     
    {% include "global/partials/post_block.html" %}
    {% include "global/partials/post_block.html" %}
    {% include "global/partials/post_block.html" %}
    {% include "global/partials/post_block.html" %}
    {% include "global/partials/post_block.html" %} {% endcomment %}

{% endblock posts %}

{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>BLOG</H1>
</body>
</html> {% endcomment %}