
.main-bg {
    background-image: url('../imgs/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 9rem var(--gap);
}

.section-class {
    /* padding-top: 8rem; */
    min-height: 100vh;
}

.menu-spacing {
    height: 67px;
}

.footer {
    text-align: right
}

.responsive-table {
    overflow: auto;
}

.full-width {
    width: 100%;
    flex: 1 1 100%;
}
/* body .full-width {
    width: 100%;
    flex: 1 1 100%;
} */