* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    /* tudo padrao com o display flex */
    /* flex-direction: row;
    justify-content: flex-start;
    align-items: stretch; */
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background: yellow;
    height: 500px;
    gap: 10px;
}

.flex-item {
    color: #fff;
    /* width: 100%; */
    background: red;
    /* margin: 10px; */
}

.flex-item:nth-child(3) {
    font-size: 80px;
}