/* ja e display: block por padrao, e redundante especificar isso */
/* overflow faz o texto nao sair do bloco */
* {
    margin: 0;
    padding: 0;
}

.text {
    box-sizing: border-box;
    display: block;
    background: red;
    width: 50%;
    max-width: 600px;
    min-width: 0;
    height: 50%;
    max-height: 500px;
    min-height: 10px;
    overflow: auto;
    margin: 0 auto 50px auto;
    padding: 50px;
    border: 5px dotted black;
}

.grid {
    padding: 15px;
}
.grid::after {
    content: '';
    display: block;
    clear: both;
}

.grid .col {
    /* display: border-box; */
    width: 33.33%;
    height: 300px;
    /* background: red; */
    /* margin: 10px; */
    /* as margens se somam ao inves de se sobreporem */
    float: left;
    padding: 15px;
}

/* 
p {
    clear: both;
} */

.grid .col-content {
    /* display: inline-block; */
    width: 100%;
    height: 100%;
    background: red;
    /* as margens se somam ao inves de se sobreporem */
    /* margin: 10px; */
    /* float: left; */
}